{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
<div class="container-fluid pt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center text-white">
                Ecanvasser 
                <span class="orbitron text-orange">Fitness</span>
                <br>
                Tracker 
            </h1>
            <p class="text-white">
                The Ecanvasser Fitness Tracker or EFT, if you will, was designed to keep track of 
                <span class="text-bold text-uppercase">Your</span>
                 steps against your peers. 
            </p>
            <p class="text-white">Use this to set goals, log your steps, track your progress and compare against your competition.</p>
            <a class="btn btn-outline-info" href="{% url 'account_signup' %}" role="button">Register Here!</a>
            <p class="text-white mb-0">
                - or - <br>
                <a href="{% url 'account_login' %}" class="text-small text-orange fw-bold text-decoration-none">LOGIN</a>
            </p>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-8 col-md-4 offset-md-8">
            <h2 class="text-decoration-underline fw-bold orbitron pe-2">Leaderboard</h2>
        </div>
        <div class="col-12 col-md-5 mt-4">
            {% include 'includes/leaderboard.html' %}
        </div>
        
        <p> {{ total_leader }} </p>
        
    </div>
</div>
{% endblock %}